<h1 class="text-center">
  {{ router.url === "/register" ? "Register" : "login" }}
</h1>

<form [formGroup]="authForm" (ngSubmit)="authenticate()">
  <div class="form-group" *ngIf="router.url === '/register'">
    <label for="exampleInputEmail1">Name</label>
    <input
      type="name"
      class="form-control"
      formControlName="name"
      id="exampleInputName1"
      aria-describedby="nameHelp"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      formControlName="email"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      id="exampleInputPassword1"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a
    type="submit"
    class="btn btn-reversed ml-3"
    *ngIf="router.url === '/login'"
    routerLink="/register"
  >
    Register
</a>
</form>
