
<div class="container">
    <div class="row">
        <div class=" col-md-6 mx-auto my-0">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">
                        Change Password
                    </h3>
                </div>
                <div class="card-body">
                    <!-- no validate becase i have custom validate -->
                    <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
                        <p>
                            <mat-form-field appearance="fill" style="width: 100%">
                                <mat-label>Old Password</mat-label>
                                <input formControlName="oldPassword" matInput id="oldpassord" name="username" type="password"
                                    required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field  style="width: 100%">
                                <mat-label>New Password</mat-label>
                                <input formControlName="newPassword" matInput id="newpassword"
                                type="password" name="newpassword" type="text" required>
                              
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field  class="w-100 mr-3">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" id="confirmPassword" formControlName="confirmPassword" matInput 
                                       placeholder="Confirm Password" required />
                              </mat-form-field>
                        </p>
                        <div *ngIf="passwordStatue" class="alert alert-warning m-3">Password Changed Successfully</div>
                        <div *ngIf="!oldPassStatue" class="alert alert-danger m-3">Old password is uncorrect</div>
                        <div *ngIf="!passwordPatternStatue" class="alert alert-danger m-1">password must contains:
                        <ul>
                            <li>1 capital letter</li>
                            <li>1 small letter</li>
                            <li>1 number </li>
                            <li>1 Symbol letter</li>
                        </ul>    
                        </div>
                        
                        <div class="row justify-content-end">
                            <button type="submit" [disabled]="!changePasswordForm.valid"
                                class="btn btn-outline-success pull-right float-right">
                                Confirm
                            </button>
                        </div>                        
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>